{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<div class="container">
	<h1></h1>
</div>
 <div id="contact-form">               
<form name="contactForm" id="contactForm" method="post" enctype="multipart/form-data"  action="/sookh/addpost/">{% csrf_token %}
<div id='titlediv' > 	
	 <div class="container">
                         <div class="row">			
<label class="six columns" for="id_title">Title:</label>
<input class="six columns u-full-width" id="id_title" maxlength="250" name="title" type="text" required />
 </div>
    </div>
</div>
 
<div class="categories">
		<div class="container">
                         <div class="row">
<label class=" six columns" for="id_categories">{% trans "Categories:" %}</label>
<select class="six columns u-full-width" id="id_categories" name="categories" required>
	<option value="mobiles">{% trans "mobiles" %}</option>
	<option value="electronics">{% trans "electronics" %}</option>
	<option value="cars">{% trans "cars" %}</option>
	<option value="bikes">{% trans "bikes" %}</option>
	<option value="furniture">{% trans "furniture" %}</option>
</select>
</br>
       </div>
    </div>
</div>
                         
<!-- ------------------MOBILES DIV------------------------------------------------------------ -->
<div class='mobiles_div nonelectronicsdiv noncarsdiv nonbikesdiv nonfurniturediv 
            nontablets nonaccessories' hidden='true' >
		 <div class="container">
             <div class="row">
<label class=" six columns" for="id_mobile_brand_name">{% trans "Mobile brand name:" %}</label>
<input class="six columns u-full-width" id="id_mobile_brand_name" maxlength="250" name="mobile_brand_name" type="text" disabled="true"   required />
</br>
</div>
</div>
</div>



<!-- ------------------TABLETS DIV------------------------------------------------------------ -->
<div class='tablets_div nonelectronicsdiv noncarsdiv nonbikesdiv nonfurniturediv 
           nonmobile nonaccessories ' hidden='true'>
		   	 <div class="container">
                         <div class="row">
<label class=" six columns" for="id_tablets_brand_name">{% trans "Tablet brand name:" %}</label>
<input class="six columns u-full-width" id="id_tablets_brand_name" maxlength="250" name="tablet_brand_name" type="text" disabled="true"  required />
</br>
</div>
</div>
</div>
<!-- ------------------ACESSORIES DIV------------------------------------------------------------ -->
<div class='accessories_div nonelectronicsdiv noncarsdiv nonbikesdiv nonfurniturediv 
			nonmobile nontablets' hidden='true'>
				 <div class="container">
                         <div class="row">
<label for="id_mobile_accessory_choice_mobile">{% trans "Type:" %}</label>
  <input type="radio" id="id_mobile_accessory_choice_mobile" name="mobile_accessory_choice" value="mobile" disabled="true"  checked>{% trans "mobile" %}<br>
  <input type="radio" id="id_mobile_accessory_choice_mobile" name="mobile_accessory_choice" value="tablet" disabled="true"  >{% trans "tablet" %}<br>
 <label for="id_accessory_brand_name">{% trans "Mobile brand na:" %}</label>
 <input id="id_accessory_brand_name" maxlength="250" name="accessory_brand_name" type="text" required />
</br>
</div>
</div>
</div>


<!-- ------------------COMPUTER DIV------------------------------------------------------------ -->

<div class='computer_div nonmobilesdiv noncarsdiv nonbikesdiv nonfurniturediv
 			nontv noncamera nongames nonfridge nonkitchen ' hidden='true'>
			 	 <div class="container">
                         <div class="row">
<label for="id_computer_item_sub_category">{% trans "computer item:" %}</label>
<input id="id_computer_item_sub_category" maxlength="250" name="computer_item_sub_category" type="text" disabled="true"  required />

                         </div>
						 <div class="row">
<label for="id_computer_brand_name">{% trans "computer_brand_name:" %}</label>
<input id="id_computer_brand_name" maxlength="250" name="computer_brand_name" type="text" disabled="true"  required />
                         </div>


</div>
</div>
<!-- ------------------TV VIDEO DIV------------------------------------------------------------ -->

<div class='tv_div nonmobilesdiv noncarsdiv nonbikesdiv nonfurniturediv
             noncomputer noncamera nongames nonfridge nonkitchen ' hidden='true'>
			 	 <div class="container">
                         <div class="row">
<label class=" six columns" for="id_tv_video_sub_category">{% trans "tv_video_sub_category:" %}</label>
<input class="six columns u-full-width" id="id_tv_video_sub_category" maxlength="250" name="tv_video_sub_category" type="text" disabled="true"  required />
</br>
</div>
</div>
</div>
<!-- ------------------CAMERA DIV------------------------------------------------------------ -->
<div class='camera_div nonmobilesdiv noncarsdiv nonbikesdiv nonfurniturediv
            nontv noncomputer nongames nonfridge nonkitchen' hidden='true'>
				 <div class="container">
                         <div class="row">
<label class=" six columns" for="id_camera_item_sub_category">{% trans "camera_item_sub_category:" %}</label>
<input id="id_camera_item_sub_category" maxlength="250" name="camera_item_sub_category" type="text" disabled="true"  required />
</br>
</div>
</div>
</div>

<!-- ------------------GAMES DIV------------------------------------------------------------ -->
<div class='games_div nonmobilesdiv noncarsdiv nonbikesdiv nonfurniturediv
			nontv noncomputer noncamera nonfridge nonkitchen' hidden='true'>
				 <div class="container">
                         <div class="row">
<label class=" six columns" for="id_Games_item_sub_category">{% trans "Games_item_sub_category:" %}</label>
<input class="six columns u-full-width" id="id_Games_item_sub_category" maxlength="250" name="Games_item_sub_category" type="text" disabled="true"  required />
</br>
</div>
</div>
</div>

<!-- ------------------FRIDGE DIV------------------------------------------------------------ -->
<div class='fridge_div nonmobilesdiv noncarsdiv nonbikesdiv nonfurniturediv
            nontv noncomputer noncamera nongames nonkitchen' hidden='true'>
				 <div class="container">
                         <div class="row">
<label class=" six columns" for="id_Fridge_ac_washingmachine_sub_category">{% trans "Fridge_ac_washingmachine_sub_category:" %}</label>
<input class="six columns u-full-width" id="id_Fridge_ac_washingmachine_sub_category" maxlength="250" name="Fridge_ac_washingmachine_sub_category" disabled="true"  type="text" required />
</br>
</div>
</div>
</div>

<!-- ------------------KITCHEN DIV------------------------------------------------------------ -->
<div class='kitchen_div nonmobilesdiv noncarsdiv nonbikesdiv nonfurniturediv
             nontv noncomputer noncamera nongames nonfridge' hidden='true'>
			 	 <div class="container">
                         <div class="row">
<label for="id_Kitchen_other_sub_category">{% trans "Kitchen_other_sub_category:" %}</label>
<input id="id_Kitchen_other_sub_category" maxlength="250" name="Kitchen_other_sub_category" disabled="true"  type="text" required />
</br>
</div>
</div>
</div>
<!-- ------------------CARS common exept spare DIV------------------------------------------------------------ 
 
 <div class = 'cars_common nonmobilesdiv nonelectronicsdiv nonbikesdiv nonfurniturediv' hidden="true" > 	
	 	 <div class="container">
                         <div class="row">
<label for="id_kilometers_driven">{% trans "Kilometers driven:" %}</label>
  
<input id="id_kilometers_driven" name="kilometers_driven" type="number" disabled="true"  required />
</br>


<label for="id_year_manufacture">{% trans "Year manufacture:" %}</label>
<input id="id_year_manufacture" name="year_manufacture" type="number" disabled="true"  required />
</br>

	
<label for="id_fuel">{% trans "Fuel:" %}</label>
<select id="id_fuel" name="fuel" disabled="true"  required>
	<option value="petrol">{% trans "petrol" %}</option>
	<option value="diesel">{% trans "diesel" %}</option>
	<option value="gas">{% trans "gas" %}</option>
</select>
</br>
</div>
-->
<!-- ------------------CARS DIV------------------------------------------------------------ -->

<div class = 'cars_subdiv nonmobilesdiv nonelectronicsdiv nonbikesdiv nonfurniturediv 
              noncommercial nonother nonsparecars   ' hidden="true" > 
			  			 	 <div class="container">
                         <div class="row">	
<label for="id_cars_brand_name">{% trans "Cars brand name:" %}</label>
<input id="id_cars_brand_name" maxlength="250" name="cars_brand_name" type="text" disabled="true"  required />
                         </div>
			  			 	 </div>
		    	 <div class="container">
                         <div class="row">
	
<label for="id_cars_model">{% trans "Cars model:" %}</label>
<input id="id_cars_model" maxlength="250" name="cars_model" type="text" disabled="true"  required />
                         </div>
		    </div>
				 <div class="container">
                         <div class="row">
<label for="id_kilometers_driven">{% trans "Kilometers driven:" %}</label>
<input id="id_kilometers_driven" name="kilometers_driven" type="number" disabled="true"  required />
                         </div>
			</div>
				 <div class="container">
                         <div class="row">


<label for="id_year_manufacture">{% trans "Year manufacture:" %}</label>
<input id="id_year_manufacture" name="year_manufacture" type="number" disabled="true"  required />
                         </div>
				 </div>
	 <div class="container">
                         <div class="row">


	
<label for="id_fuel">{% trans "Fuel:" %}</label>
<select id="id_fuel" name="fuel" disabled="true"  required>
	<option value="petrol">{% trans "petrol" %}</option>
	<option value="diesel">{% trans "diesel" %}</option>
	<option value="gas">{% trans "gas" %}</option>
</select>
</br>
                         </div>
                         </div>
</div>
</div>
</div>

 <!-- ------------------COMMERCIAL DIV------------------------------------------------------------ -->
<div class='commercial_div nonmobilesdiv nonelectronicsdiv nonbikesdiv nonfurniturediv 
              noncar nonother nonsparecars ' hidden='true'>
			  			 	 <div class="container">
                         <div class="row">
<label for="id_commercial_vehicle_brand_name">{% trans "commercial_vehicle_brand_name:" %}</label>
<input id="id_commercial_vehicle_brand_name" maxlength="250" name="commercial_vehicle_brand_name" type="text" disabled="true"  required />
<label for="id_kilometers_driven">{% trans "Kilometers driven:" %}</label>
<input id="id_kilometers_driven" name="kilometers_driven" type="number" disabled="true"  required />
</br>


<label for="id_year_manufacture">{% trans "Year manufacture:" %}</label>
<input id="id_year_manufacture" name="year_manufacture" type="number" disabled="true"  required />
</br>

	
<label for="id_fuel">{% trans "Fuel:" %}</label>
<select id="id_fuel" name="fuel" disabled="true"  required>
	<option value="petrol">{% trans "petrol" %}</option>
	<option value="diesel">{% trans "diesel" %}</option>
	<option value="gas">{% trans "gas<" %}/option>
</select>
</br>
</div>
</div>
</div>

<!-- ------------------OTHER VEHICLES DIV------------------------------------------------------------ -->
<div class='other_div nonmobilesdiv nonelectronicsdiv nonbikesdiv nonfurniturediv
            noncar noncommercial nonsparecars' hidden='true'>
						 	 <div class="container">
                         <div class="row">
<label for="id_Other_vehicles_brand_name">{% trans "Other_vehicles_brand_name:" %}</label>
<input id="id_Other_vehicles_brand_name" maxlength="250" name="Other_vehicles_brand_name" type="text" disabled="true"  required />
<label for="id_kilometers_driven">{% trans "Kilometers driven:" %}</label>
<input id="id_kilometers_driven" name="kilometers_driven" type="number" disabled="true"  required />
</br>


<label for="id_year_manufacture">{% trans "Year manufacture:" %}</label>
<input id="id_year_manufacture" name="year_manufacture" type="number" disabled="true"  required />
</br>

	
<label for="id_fuel">{% trans "Fuel:" %}</label>
<select id="id_fuel" name="fuel" disabled="true"  required>
	<option value="petrol">{% trans "petrol" %}</option>
	<option value="diesel">{% trans "diesel" %}</option>
	<option value="gas">{% trans "gas" %}</option>
</select>
</br>
</div>
</div>
</div>

<!-- ------------------SPARE CAR DIV------------------------------------------------------------ -->
<div class='spare_cars_div nonmobilesdiv nonelectronicsdiv nonbikesdiv nonfurniturediv
            noncar noncommercial nonother' hidden='true'>
						 	 <div class="container">
                         <div class="row">
<label class=" six columns" for="id_spare_parts_category">{% trans "spare_parts_category:" %}</label>
<input class="six columns u-full-width" id="id_spare_parts_category" maxlength="250" name="spare_parts_category" type="text" disabled="true"  required />
</br>
</div>
</div>
</div>

<!-- ------------------MOTERCYCLE DIV------------------------------------------------------------ -->
<div class='motorcycle_div nonmobilesdiv nonelectronicsdiv noncarsdiv nonfurniturediv
            nonbicycle nonsparebikes' hidden='true'>
						 	 <div class="container">
                         <div class="row">
<label for="id_motorcycle_brand_name">{% trans "motorcycle_brand_name:" %}</label>
<input id="id_motorcycle_brand_name" maxlength="250" name="motorcycle_brand_name" type="text" disabled="true"  required />
<label for="id_bikes_model">{% trans "bikes_model:" %}</label>
<input id="id_bikes_model" maxlength="250" name="bikes_model" type="text" disabled="true"  required />
<label for="id_kilometers_driven">{% trans "Kilometers driven:" %}</label>
<input id="id_kilometers_driven" name="kilometers_driven" type="number" disabled="true"  required />
</br>


<label for="id_year_manufacture">{% trans "Year manufacture:" %}</label>
<input id="id_year_manufacture" name="year_manufacture" type="number" disabled="true"  required />
</br>

	
<label for="id_fuel">{% trans "Fuel:" %}</label>
<select id="id_fuel" name="fuel" disabled="true"  required>
	<option value="petrol">{% trans "petrol" %}</option>
	<option value="diesel">{% trans "diesel" %}</option>
	<option value="gas">{% trans "gas" %}</option>
</select>
</br>
</div>
</div>
</div>

<!-- ------------------BICYCLE DIV------------------------------------------------------------ -->
<div class='bicycle_div nonmobilesdiv nonelectronicsdiv noncarsdiv nonfurniturediv
            nonmotorcycle nonsparebikes' hidden='true'>
						 	 <div class="container">
                         <div class="row">
<label class="six columns" for="id_bicycle_brand_name">{% trans "bicycle_brand_name:" %}</label>
<input class="six columns u-full-width" id="id_bicycle_brand_name" maxlength="250" name="bicycle_brand_name" type="text" disabled="true"  required />
</br>
</div>
</div>
</div>

<!-- ------------------SPARE BIKES DIV------------------------------------------------------------ -->
<div class='spare_bikes_div nonmobilesdiv nonelectronicsdiv noncarsdiv nonfurniturediv
            nonmotorcycle nonbicycle' hidden='true'>
						 	 <div class="container">
                         <div class="row">
<label class="six columns" for="id_spare_bikes_name">{% trans "spare_bikes_name" %}</label>
<input class="six columns u-full-width" id="id_spare_bikes_name" maxlength="250" name="spare_bikes_name" type="text" disabled="true"  required />
</br>
</div>
</div>
</div>
<!-- ------------------FURNITURE  DIV------------------------------------------------------------ -->


<div class='furniture_div nonmobilesdiv nonelectronicsdiv noncarsdiv nonbikesdiv' hidden='true'>
				 	 <div class="container">
                         <div class="row">
<label class="six columns" for="id_furniture_type">{% trans "Furniture type:" %}</label>
<input class="six columns u-full-width" class="six columns u-full-width" id="id_furniture_type" maxlength="250" name="furniture_type" type="text" disabled="true"  required />
</br>
</div>
</div>
</div>





<div id='pricediv' > 	
	<div class="container">
                         <div class="row">
<label class="six columns" for="id_price">{% trans "Price:" %}</label>
<input class="six columns u-full-width" id="id_price" name="price" type="number" required />
</br>
</div>
</div>
</div>

 <div id='descriptiondiv' > 
	 <div class="container">
                         <div class="row">	
<label class="six columns" for="id_description">{% trans "Description:" %}</label>
<input class="six columns u-full-width" id="id_description" maxlength="500" name="description" type="text" required />
</br>
</div>
</div>

<div> 	
	<div class="container">
                         <div class="row">
<label class="six columns" for="id_photo">{% trans "Photo:" %}</label>
<input class="six columns u-full-width" id="id_photo" name="photo" type="file" required />
</br>
</div>
</div>
</div>

 <div> 	
	 <div class="container">
                         <div class="row">
<label class="six columns" for="id_name">{% trans "Name:" %}</label>
<input class="six columns u-full-width" id="id_name" maxlength="250" name="name" type="text" required />
</br>
</div>
</div>
</div>


 <div> 	
	 <div class="container">
                         <div class="row">
<label class="six columns" for="id_phone_number">{% trans "Phone number:" %}</label>
<input class="six columns u-full-width" id="id_phone_number" name="phone_number" type="number" required />
</br>
</div>
</div>
</div>


 <div> 	
	 <div class="container">
                         <div class="row">
<label class="six columns" for="id_city">{% trans "City:" %}</label>
<input class="six columns u-full-width" id="id_city" maxlength="250" name="city" type="text" required />
</br>
</div>
</div>
</div>
	 <div class="container">
                         <div class="row">
							 <div class="four columns">
								 <h1> </h1>
							 </div>
							 <div class="four columns">
 <button class="submit button-primary u-full-width">{% trans "Submit" %}</button>
							 </div>
							 <div class="four columns">
								 <h1> </h1>
							 </div>
 </div>
</div>
</form>   
{{ form.non_field_errors }}
 </div>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



<script>
	
	var mobiles;
	var tablets;
	var accessories;
	var computer;
	var tv_video;
	var camera;
	var games;
	var fridge;
	var kitchen;
	var car;
	var commercial;
	var othercars;
	var sparepartscar;
	var motorcycle;
	var bicycle;
	var sparepartsbikes;
	var furnituretrans;
	(function () {
     car = '{% trans "car" %}';
	 mobiles = '{% trans "mobiles" %}';
	 tablets = '{% trans "tablets" %}';
	 accessories = '{% trans "accessories" %}';
	 computer = '{% trans "computer" %}';
	 tv_video = '{% trans "tv_video" %}';
	 camera = '{% trans "camera" %}';
	 games = '{% trans "games" %}';
	 fridge = '{% trans "fridge" %}';
	 kitchen = '{% trans "kitchen" %}';
	 commercial = '{% trans "commercial" %}';
	 othercars = '{% trans "other vehicles" %}';
	 sparepartscar = '{% trans "spare parts" %}';
	 motorcycle = '{% trans "motorcycle" %}';
	 bicycle = '{% trans "bicycle" %}';
	 sparepartsbike = '{% trans "spare parts" %}';
	 furnituretrans = '{% trans "furniture" %}';
	console.log(car);
})();
	var form = $('#contactForm');
	 var categories =$('#id_categories');
	 var subcategories = $('#id_subcategories');
	 var subcategories_label=$('#id_subcategories_label')
	 var furniture=$('#id_furniture_type');
	 

	 	 categories.ready(function(){
			  console.log("in ready")
		 console.log(car);
        $('<div class="container"></div>').insertAfter(".titlediv");
		 if(categories.val()=="mobiles"){
			$('.nonmobilesdiv').find('input,select').prop('disabled',true);
			$('.nonmobilesdiv').prop('hidden',true);
			 $( ".subcategory" ).remove();
              $(' <div class="subcategory"  > 	 <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="mobiles">'+ mobiles +'</option><option value="tablets">'+ tablets +'</option><option value="accessories">'+ accessories +'</option></select></br></div></div><div>'   ).insertAfter( ".categories" );
		      $( "#id_subcategories" ).trigger( "change" ); 
		}
		 else if(categories.val()=="electronics"){
			 $('.nonelectronicsdiv').find('input,select').prop('disabled',true);
			$('.nonelectronicsdiv').prop('hidden',true);
			 $( ".subcategory" ).remove();
              $('  <div class="subcategory"   > <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="computer">'+ computer +'</option><option value="tv_video">'+ tv_video +'</option><option value="camera">'+ camera +'</option><option value="games">'+ games +'</option><option value="fridge">'+ fridge +'</option><option value="kitchen">'+ kitchen +'</option></select></br></div></div><div>' ).insertAfter( ".categories" );
	            $( "#id_subcategories" ).trigger( "change" ); 	
	 }
		 else if(categories.val()=="cars"){
			 $('.noncarsdiv').find('input,select').prop('disabled',true);
			$('.noncarsdiv').prop('hidden',true);
			 $( ".subcategory" ).remove();
              $('   <div class="subcategory"  > <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="car">'+ car  +'</option><option value="commercial">'+ commercial +'</option><option value="other">'+ othercars +'</option><option value="spare_cars">'+ sparepartscar +'</option></select></br></div> </div><div>' ).insertAfter( ".categories" );
	             $( "#id_subcategories" ).trigger( "change" ); 	
	 }
		else if(categories.val()=="bikes"){
			$('.nonbikesdiv').find('input,select').prop('disabled',true);
			$('.nonbikesdiv').prop('hidden',true);
			$( ".subcategory" ).remove();
              $('  <div class="subcategory"   > <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="motorcycle">'+ motorcycle +'</option><option value="bicycle">'+ bicycle +'</option><option value="spare_bikes">'+ sparepartsbikes +'</option></select></br></div></div><div>' ).insertAfter( ".categories" );
	 $( "#id_subcategories" ).trigger( "change" ); 	
	 }
		else if(categories.val()=="furniture"){
			$('.nonfurniturediv').find('input,select').prop('disabled',true);
			$('.nonfurniturediv').prop('hidden',true);
			$( ".subcategory" ).remove();
              $('   <div class="subcategory"   > <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="furniture"></div><div>'+ furnituretrans +'</option></select></br></div>' ).insertAfter( ".categories" );
	$( "#id_subcategories" ).trigger( "change" ); 	
	 }

	 });
	 
	 categories.change(function(){
		 
		 console.log(car);

		 if(categories.val()=="mobiles"){
			$('.nonmobilesdiv').find('input,select').prop('disabled',true);
			$('.nonmobilesdiv').prop('hidden',true);
			 $( ".subcategory" ).remove();
              $(' <div class="subcategory"  > 	 <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="mobiles">'+ mobiles +'</option><option value="tablets">'+ tablets +'</option><option value="accessories">'+ accessories +'</option></select></br></div></div><div>'   ).insertAfter( ".categories" );
		      $( "#id_subcategories" ).trigger( "change" ); 
		}
		 else if(categories.val()=="electronics"){
			 $('.nonelectronicsdiv').find('input,select').prop('disabled',true);
			$('.nonelectronicsdiv').prop('hidden',true);
			 $( ".subcategory" ).remove();
              $('  <div class="subcategory"   > <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="computer">'+ computer +'</option><option value="tv_video">'+ tv_video +'</option><option value="camera">'+ camera +'</option><option value="games">'+ games +'</option><option value="fridge">'+ fridge +'</option><option value="kitchen">'+ kitchen +'</option></select></br></div></div><div>' ).insertAfter( ".categories" );
	            $( "#id_subcategories" ).trigger( "change" ); 	
	 }
		 else if(categories.val()=="cars"){
			 $('.noncarsdiv').find('input,select').prop('disabled',true);
			$('.noncarsdiv').prop('hidden',true);
			 $( ".subcategory" ).remove();
              $('   <div class="subcategory"  > <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="car">'+ car  +'</option><option value="commercial">'+ commercial +'</option><option value="other">'+ othercars +'</option><option value="spare_cars">'+ sparepartscar +'</option></select></br></div> </div><div>' ).insertAfter( ".categories" );
	             $( "#id_subcategories" ).trigger( "change" ); 	
	 }
		else if(categories.val()=="bikes"){
			$('.nonbikesdiv').find('input,select').prop('disabled',true);
			$('.nonbikesdiv').prop('hidden',true);
			$( ".subcategory" ).remove();
              $('  <div class="subcategory"   > <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="motorcycle">'+ motorcycle +'</option><option value="bicycle">'+ bicycle +'</option><option value="spare_bikes">'+ sparepartsbikes +'</option></select></br></div></div><div>' ).insertAfter( ".categories" );
	 $( "#id_subcategories" ).trigger( "change" ); 	
	 }
		else if(categories.val()=="furniture"){
			$('.nonfurniturediv').find('input,select').prop('disabled',true);
			$('.nonfurniturediv').prop('hidden',true);
			$( ".subcategory" ).remove();
              $('   <div class="subcategory"   > <div class="container"><div class="row">	<label class="six columns" for="id_subcategories" id="id_subcategories_label"  >Subcategories:</label><select class="six columns u-full-width" id="id_subcategories"  name="subcategories"   ><option value="furniture"></div><div>'+ furnituretrans +'</option></select></br></div>' ).insertAfter( ".categories" );
	$( "#id_subcategories" ).trigger( "change" ); 	
	 }


	 });
    /*
		categories.change(function(){
			console.log('categories=',categories)
		if(categories.val()=="mobiles"){
			$('.nonmobiles').find('#id_subcategories').prop('disabled',true);
			$('.nonmobiles').prop('hidden',true)
			$('.mobile_subcategories').find('#id_subcategories').prop('disabled',false);
			$('.mobile_subcategories').prop('hidden',false)
		}else if(categories.val()=="electronics"){
			$('.nonelectronics').find('#id_subcategories').prop('disabled',true);
			$('.nonelectronics').prop('hidden',true)
			$('.electronics_subcategories').find('#id_subcategories').prop('disabled',false);
			$('.electronics_subcategories').prop('hidden',false)
		}else if(categories.val()=="cars"){
			$('.noncars').find('#id_subcategories').prop('disabled',true);
			$('.noncars').prop('hidden',true)
			$('.cars_subcategories').find('#id_subcategories').prop('disabled',false);
			$('.cars_subcategories').prop('hidden',false)
		}else if(categories.val()=="bikes"){
			$('.nonbikes').find('#id_subcategories, input ').prop('disabled',true);
			$('.nonbikes').prop('hidden',true)
			$('.bikes_subcategories').find('#id_subcategories').prop('disabled',false);
			$('.bikes_subcategories').prop('hidden',false)
		}
		else if(categories.val()=="furniture"){
			$('.nonfurniture').find('#id_subcategories, input ').prop('disabled',true);
			$('.nonfurniture').prop('hidden',true)
			$('.furniture_subcategories').find('#id_subcategories').prop('disabled',false);
			$('.furniture_subcategories').prop('hidden',false)
		}

	});
*/
  $('#id_subcategories').on( "load",function(){
      
		  console.log('in ready');
		  console.log($( '#id_subcategories' ).val());
  });
	
  $(document.body).on('change', '#id_subcategories' ,function(){
      
		  console.log('in change');
		  console.log($( '#id_subcategories' ).val());
    
	if($('#id_subcategories').val()=="mobiles"){
			$('.nonmobilesdiv').find('input,select').prop('disabled',true);
			$('.nonmobilesdiv').prop('hidden',true);
			$('.nonmobile').find('input,select').prop('disabled',true);
			$('.nonmobile').prop('hidden',true);
			$('.mobiles_div').find('input,select').prop('disabled',false);
			$('.mobiles_div').prop('hidden',false);

	}else if($('#id_subcategories').val()=="tablets"){
			$('.nontabletsdiv').find('input,select').prop('disabled',true);
			$('.nontabletsdiv').prop('hidden',true);
			$('.nontablets').find('input,select').prop('disabled',true);
			$('.nontablets').prop('hidden',true);
			$('.tablets_div').find('input,select').prop('disabled',false);
			$('.tablets_div').prop('hidden',false);
	}
	else if($('#id_subcategories').val()=="accessories"){
			$('.nonmobilesdiv').find('input,select').prop('disabled',true);
			$('.nonmobilesdiv').prop('hidden',true);
			$('.nonaccessories').find('input,select').prop('disabled',true);
			$('.nonaccessories').prop('hidden',true);
			$('.accessories_div').find('input,select').prop('disabled',false);
			$('.accessories_div').prop('hidden',false);
	}
	else if($('#id_subcategories').val()=="computer"){
			$('.nonelectronicsdiv').find('input,select').prop('disabled',true);
			$('.nonelectronicsdiv').prop('hidden',true);
			$('.noncomputer').find('input,select').prop('disabled',true);
			$('.noncomputer').prop('hidden',true);
			$('.computer_div').find('input,select').prop('disabled',false);
			$('.computer_div').prop('hidden',false);
	}
		else if($('#id_subcategories').val()=="tvvideo"){
			$('.nonelectronicsdiv').find('input,select').prop('disabled',true);
			$('.nonelectronicsdiv').prop('hidden',true);
			$('.nontv').find('input,select').prop('disabled',true);
			$('.nontv').prop('hidden',true);
			$('.tv_div').find('input,select').prop('disabled',false);
			$('.tv_div').prop('hidden',false);
	}
		else if($('#id_subcategories').val()=="camera"){
			$('.nonelectronicsdiv').find('input,select').prop('disabled',true);
			$('.nonelectronicsdiv').prop('hidden',true);
			$('.noncamera').find('input,select').prop('disabled',true);
			$('.noncamera').prop('hidden',true);
			$('.camera_div').find('input,select').prop('disabled',false);
			$('.camera_div').prop('hidden',false);
	}
		else if($('#id_subcategories').val()=="games"){
			$('.nonelectronicsdiv').find('input,select').prop('disabled',true);
			$('.nonelectronicsdiv').prop('hidden',true);
			$('.nongames').find('input,select').prop('disabled',true);
			$('.nongames').prop('hidden',true);
			$('.games_div').find('input,select').prop('disabled',false);
			$('.games_div').prop('hidden',false);
	}
		else if($('#id_subcategories').val()=="fridge"){
			$('.nonelectronicsdiv').find('input,select').prop('disabled',true);
			$('.nonelectronicsdiv').prop('hidden',true);
			$('.nonfridge').find('input,select').prop('disabled',true);
			$('.nonfridge').prop('hidden',true);
			$('.fridge_div').find('input,select').prop('disabled',false);
			$('.fridge_div').prop('hidden',false);
	}
		else if($('#id_subcategories').val()=="kitchen"){
			$('.nonelectronicsdiv').find('input,select').prop('disabled',true);
			$('.nonelectronicsdiv').prop('hidden',true);
			$('.nonkitchen').find('input,select').prop('disabled',true);
			$('.nonkitchen').prop('hidden',true);
			$('.kitchen_div').find('input,select').prop('disabled',false);
			$('.kitchen_div').prop('hidden',false);
	}
	else	 if($('#id_subcategories').val()=="car"){
		    $('.noncarsdiv').find('input,select').prop('disabled',true);
			$('.noncarsdiv').prop('hidden',true);
			$('.noncar').find('input,select').prop('disabled',true);
			$('.noncar').prop('hidden',true);
			$('.cars_subdiv').find('input,select').prop('disabled',false);
			$('.cars_subdiv').prop('hidden',false);
	}
		else if($('#id_subcategories').val()=="commercial"){
			$('.noncarsdiv').find('input,select').prop('disabled',true);
			$('.noncarsdiv').prop('hidden',true);
			$('.noncommercial').find('input,select').prop('disabled',true);
			$('.noncommercial').prop('hidden',true);
			$('.commercial_div').find('input,select').prop('disabled',false);
			$('.commercial_div').prop('hidden',false);
	}
		else if($('#id_subcategories').val()=="other"){
			$('.noncarsdiv').find('input,select').prop('disabled',true);
			$('.noncarsdiv').prop('hidden',true);
			$('.nonother').find('input,select').prop('disabled',true);
			$('.nonother').prop('hidden',true);
			$('.other_div').find('input,select').prop('disabled',false);
			$('.other_div').prop('hidden',false);
	}
		else if($('#id_subcategories').val()=="spare_cars"){
			$('.noncarsdiv').find('input,select').prop('disabled',true);
			$('.noncarsdiv').prop('hidden',true);
			$('.nonsparecars').find('input,select').prop('disabled',true);
			$('.nonsparecars').prop('hidden',true);
			$('.spare_cars_div').find('input,select').prop('disabled',false);
			$('.spare_cars_div').prop('hidden',false);
	}
	else	if($('#id_subcategories').val()=="motorcycle"){
		    $('.nonbikesdiv').find('input,select').prop('disabled',true);
			$('.nonbikesdiv').prop('hidden',true);
			$('.nonmotorcycle').find('input,select').prop('disabled',true);
			$('.nonmotorcycle').prop('hidden',true);
			$('.motorcycle_div').find('input,select').prop('disabled',false);
			$('.motorcycle_div').prop('hidden',false);
			
	}
			else if($('#id_subcategories').val()=="bicycle"){
            $('.nonbikesdiv').find('input,select').prop('disabled',true);
			$('.nonbikesdiv').prop('hidden',true);
			$('.nonbicycle').find('input,select').prop('disabled',true);
			$('.nonbicycle').prop('hidden',true);
			$('.bicycle_div').find('input,select').prop('disabled',false);
			$('.bicycle_div').prop('hidden',false);
	}
		else if($('#id_subcategories').val()=="spare_bikes"){
			$('.nonbikesdiv').find('input,select').prop('disabled',true);
			$('.nonbikesdiv').prop('hidden',true);
			$('.nonsparebikes').find('input,select').prop('disabled',true);
			$('.nonsparebikes').prop('hidden',true);
			$('.spare_bikes_div').find('input,select').prop('disabled',false);
			$('.spare_bikes_div').prop('hidden',false);
	}
			else if($('#id_subcategories').val()=="furniture"){
			$('.nonfurniturediv').find('input,select').prop('disabled',true);
			$('.nonfurniturediv').prop('hidden',true);
			$('.furniture_div').find('input,select').prop('disabled',false);
			$('.furniture_div').prop('hidden',false);
	}
			
   });

   form.submit(function(){
      console.log($('#id_subcategories').val());
   });
   
 </script>

{% endblock %}



