{% extends 'base.html' %}
{% block   content %}
{% load static %}


   <form method="post" action='{{ urls }}' >{% csrf_token %}
       <label for="id_price_min">min</label>
       <input id="id_price_min" maxlength="250" name="price_min" type="text"   />
       <label for="id_price_max">max</label>
       <input id="id_price_max" maxlength="250" name="price_max" type="text"   />
        <label for="id_lowtohigh">lowtohigh</label>
       <input type="radio" id="id_minmax" maxlength="250" name="minmax" value="lowtohigh"   />
       <label for="id_lowtohigh">hightolow</label>
       <input type="radio" id="id_minmax" maxlength="250" name="minmax" value="hightolow"  />
       </br>
        <button class="submit">submit</button>
   </form> 
        <!-- List of uploaded documents -->
        {% if documents %}
            <div >
                {% for document in documents %}
                    <span><img src="{{ document.photo.url }}" width="100px" height="100px" />
                    
                    </span>
                    <h1>{{ document.title }} </h1>
                    <h1>{{ document.created_time }} </h1>
                    <h1>{{ document.price }} </h1>
                {% endfor %}
          
        {% else %}
            <p>No documents.</p>
        {% endif %}
</div> 
{% for num in documents.paginator.page_range %}
  {% ifequal num documents.number %}
    <span class="current"><b>{{ num }}</b></span>
  {% else %}
    <a href="?page={{ num }}"> {{ num }}</a>
  {% endifequal %} 
{% endfor %}
<!--
        <div class="pagination">
    <span class="step-links">
        {% if documents.has_previous %}
            <a href="?page={{ documents.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ documents.number }} of {{ documents.paginator.num_pages }}.
        </span>

        {% if documents.has_next %}
            <a href="?page={{ documents.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
 
-->
{% endblock %}
