{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% load static %}

<!-- .container is main centered wrapper -->
<div class="section hero">
<div class="container">
     <div class="row">
    <div class="two columns"><h2 class="section-heading">sookh </h2></div>
     <div class="four columns"><h1> </h1></div>
     <div class="two columns"><a class="u-full-width" href="/sookh/addpost" ><button class="button-primary">{% trans "Post Ad" %}</button></a></div>
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <div class="two columns">
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select class="u-full-width" name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    </div>
    <div class="two columns">
    <input class="u-full-width" type="submit" value="Go" />
    </div>

</form>
     </div>
</div>
</div>


<div class="section ">
   <div class="container">
       <div class="row">


<form name="searchform" id="searchform" method="post"  action="/sookh/search_list/">{% csrf_token %}
<div id='searchdiv' > 
<div class="three columns">
				
<label for="id_search"><h4>Search:</h4></label>
</div>
<div class="six columns">
<input id="id_search" maxlength="250" name="search" type="text" class="u-full-width" required />
</div>
<div class="three columns">
 <button class="submit button-primary">{% trans "Submit" %}</button>
</div>
 </div>
</form> 
</div>
   </div>
</div>


<div class="section ">
   <div class="container">
       <!-- List of uploaded documents -->
 {% if documents %}
            <div class="row">
                {% for document in documents %}
                    <span><img src="{{ document.object.photo.url }}" width="100px" height="100px" />
                    
                    </span>
                    <h1>{{ document.object.title }} </h1>
                {% endfor %}
        {% endif %}
</div> 
{% for num in documents.paginator.page_range %}
  {% ifequal num documents.number %}
    <span class="current"><b>{{ num }}</b></span>
  {% else %}
    <a href="?page={{ num }}"> {{ num }}</a>
  {% endifequal %} 
{% endfor %}



<div class="section ">
   <div class="container"> 
        <div class="row">
            <div class="four columns">
                  <a href="/sookh/mobiles" ><img    src="{% static "images/mobile.png" %}" width="100px" height="100px" /></a>
            </div>
            <div class="four columns">
                    <a href="/sookh/tablets" ><img    src="{% static "images/tablets.jpg" %}" width="100px" height="100px" /></a>
            </div>
            <div class="four columns">
                   <a href="/sookh/accessories" ><img    src="{% static "images/acessories.jpg" %}" width="100px" height="100px" /></a>
            </div>
        </div>
       <div class="section">
            <div class="row">
                <div class="four columns">
                    <a class="u-full-width" href="/sookh/computer"  ><img  src="{% static "images/computer.png" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                    <a class="u-full-width" href="/sookh/tvvideo" ><img  src="{% static "images/video.png" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                    <a class="u-full-width" href="/sookh/camera" ><img  src="{% static "images/camera.jpg" %}" width="100px" height="100px" /></a>
                </div>
            </div>
       </div>
         <div class="section">
              <div class="row">
            
                <div class="four columns">
                   <a href="/sookh/games" ><img  src="{% static "images/games.png" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                    <a href="/sookh/fridgeacwashingmachine" ><img  src="{% static "images/fridge.png" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                    <a href="/sookh/kitchen" ><img  src="{% static "images/kitchen.jpg" %}" width="100px" height="100px" /></a>
                </div>
            </div>
       </div>
         <div class="section">
              <div class="row">
                <div class="four columns">
                    <a href="/sookh/cars" ><img  src="{% static "images/cars.png" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                   <a href="/sookh/commercial" ><img  src="{% static "images/commercial.jpg" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                    <a href="/sookh/othervehicles" ><img  src="{% static "images/othervehicles.jpg" %}" width="100px" height="100px" /></a>
                </div>
            </div>
       </div>

         <div class="section">
              <div class="row">
                <div class="four columns">
                    <a href="/sookh/sparecars" ><img  src="{% static "images/carspares.jpg" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                   <a href="/sookh/motorcycles" ><img  src="{% static "images/motorcycles.png" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                    <a href="/sookh/bicycles" ><img  src="{% static "images/bicycles.png" %}" width="100px" height="100px" /></a>
                </div>
            </div>
       </div>

         <div class="section">
              <div class="row">
                <div class="four columns">
                    <a href="/sookh/sparebikes" ><img  src="{% static "images/bikespares.jpg" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                   <a href="/sookh/furniture" ><img  src="{% static "images/furniture.jpg" %}" width="100px" height="100px" /></a>
                </div>

                <div class="four columns">
                  <h1></h1>
                </div>
            </div>
       </div>
    </div>
</div>














{% endblock %}