{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% load static %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>
<h4>{% trans "welcome" %}</h4>
<h1>hello</h1>
<a href="/sookh/mobiles" >mobiles</a>
<a href="/sookh/tablets" >tablets</a>
<a href="/sookh/accessories" >accessories</a>
<a href="/sookh/computer" >computer</a>
<a href="/sookh/tvvideo" >tvvideo</a>
<a href="/sookh/camera" >camera</a>
<a href="/sookh/games" >games</a>
<a href="/sookh/fridgeacwashingmachine" >fridgeacwashingmachine</a>
<a href="/sookh/kitchen" >kitchen</a>
<a href="/sookh/cars" >cars</a>
<a href="/sookh/commercial" >commercial</a>
<a href="/sookh/othervehicles" >othervehicles</a>
<a href="/sookh/sparecars" >sparecars</a>
<a href="/sookh/motorcycles" >motorcycles</a>
<a href="/sookh/bicycles" >bicycles</a>
<a href="/sookh/sparebikes" >sparebikes</a>
<a href="/sookh/furniture" >furniture</a>


<form name="searchform" id="searchform" method="post"  action="/sookh/search_list/">{% csrf_token %}

<div id='searchdiv' > 				
<label for="id_search">Search:</label>
<input id="id_search" maxlength="250" name="search" type="text" required />
</br>
</div>

 <button class="submit">{% trans "Submit" %}</button>
 <br />
 
</form> 

       <!-- List of uploaded documents -->
 {% if documents %}
            <div >
                {% for document in documents %}
                    <span><img src="{{ document.object.photo.url }}" width="100px" height="100px" />
                    
                    </span>
                    <h1>{{ document.object.title }} </h1>
                {% endfor %}
          
        {% else %}
            <p>No documents.</p>
        {% endif %}
</div> 
{% for num in documents.paginator.page_range %}
  {% ifequal num documents.number %}
    <span class="current"><b>{{ num }}</b></span>
  {% else %}
    <a href="?page={{ num }}"> {{ num }}</a>
  {% endifequal %} 
{% endfor %}

{% endblock %}