Django==1.10
django-debug-toolbar==1.5
django-haystack==2.5.0
django-rosetta==0.7.12
microsofttranslator==0.8
Pillow==3.3.0
pluggy==0.3.1
polib==1.0.7
py==1.4.31
pytz==2016.7
requests==2.11.1
six==1.10.0
sqlparse==0.2.1
tox==2.3.1
virtualenv==15.0.3
Whoosh==2.7.4
